body {
  margin: 0;
  font-family: 'HK Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./components/assets/XP2S4097.jpg");
    padding-top: 100px;
}
code {
  font-family: 'HK Grotesk', sans-serif;
}